
/* header */
.header {
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
}

.headerRight {
  display: flex;
}

.main {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
}

.footerRight {
  display: flex;
}
